{% extends 'layouts/main.dashboard.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Drafts <code>for {{ user_metadata['emailAddress'] }}</code></h1>
</div>
<div class="lead">
    {% if drafts|length==0 %}
    No messages to display here...
    {% endif %}

    {% for msg in drafts %}
    <div class="well well-sm">
        <small class="text-muted">{{ msg.date }}</small>
        <p class="h5"> - {{ msg.sender }}</p>
        <br>
        <p class="h3"><a href="/dashboard?tab=drafts&msg_index={{ loop.index0 }}">{{ msg.subject }}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}