{% extends 'layouts/main.dashboard.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Sent Items <code>for {{ user_metadata['emailAddress'] }}</code></h1>
</div>
<div class="lead">
    {% if sents|length==0 %}
    No messages to display here...
    {% endif %}
    {% for msg in sents %}
    <div class="well well-sm dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
           <small class="text-muted">{{ msg.date }}</small>
           <p class="h5"> - {{ msg.sender }}</p>
           <br>
           <p class="h3">{{ msg.subject }}</p>
        </a>
        <ul class="dropdown-menu">
            <li>
                <p class="h3">
                    {{ msg.html | safe }}
                </p>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}