{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <h2 class="page-header">
    Login
    <a href="{{ url_for('bp.home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
  </h2>
  <form method="post" class="form">
    <h3 class="form-heading">Gmail-Client is going to ask for permission to your gmail account, you must login first on the google consent screen</h3>
    <p>Check the checkbox as "agreed"</p>
    {{ form.agreed(class_ = 'form-control first-input last-input', placeholder = form.agreed.label.text, required = true, autofocus = true) }}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}